# Simulator default configuration
CONFIG_ARDUINO_ARCH_SIM=y
CONFIG_MAX_TASKS=16
CONFIG_TICK_RATE_HZ=1000
CONFIG_ENABLE_TICKLESS_IDLE=y
CONFIG_ENABLE_POWER_MANAGEMENT=y
CONFIG_DEEP_SLEEP_MIN_US=10000
CONFIG_HEAP_SIZE_KB=256
CONFIG_USE_TLSF_ALLOCATOR=y
CONFIG_STACK_GUARD_SIZE=16
CONFIG_DISPLAY_DRIVER_SSD1306=y
CONFIG_DISPLAY_DRIVER_ILI9341=y
CONFIG_DISPLAY_DRIVER_ST7789=y
CONFIG_VIRTUAL_CANVAS_WIDTH=320
CONFIG_VIRTUAL_CANVAS_HEIGHT=240
CONFIG_UI_FRAMEWORK=y
CONFIG_UI_THEMES=y
CONFIG_UI_ANIMATIONS=y
CONFIG_USE_LITTLEFS=y
CONFIG_USE_FATFS=y
CONFIG_LITTLEFS_BLOCK_SIZE=4096
CONFIG_LITTLEFS_LOOKAHEAD=128
CONFIG_SIM_HEADLESS=n
CONFIG_SIM_AUDIO=y
CONFIG_SIM_NETWORK=n
CONFIG_HELPER_STRINGS=y
CONFIG_HELPER_MATH=y
CONFIG_HELPER_COLLECTIONS=y
CONFIG_HELPER_DEBUG=y
CONFIG_HELPER_PROFILING=y
CONFIG_HELPER_CONFIG=y
CONFIG_HELPER_TIME=y
CONFIG_HELPER_FS=y